[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	ignorecase = false
[color]
	branch = true
	diff = true
	interactive = true
	status = true
	ui = true
[credential]
	helper = osxkeychain
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[filter "hawser"]
	clean = git hawser clean %f
	required = true
	smudge = git hawser smudge %f
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[filter "media"]
	clean = git media clean %f
	required = true
	smudge = git media smudge %f
[gc]
	auto = 1
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[pull]
	rebase = true
[rebase]
	autostash = true
[user]
	email = syndicated.life@gmail.com
	name = Ryan Wilson
[alias]
    c = "!f(){ git clean -x -d -f; };f"
    f = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    l = "!f(){ git rm -r --cached . && git reset --hard; };f"
		p = "!f(){ git branch --merged master | grep -v '^[ *]*master$' | xargs git branch -D; };f"
    s = "!f(){ git reset --soft HEAD^ && git add . && git stash; };f"
