"*":
  "activate-power-mode":
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-beautify":
    apex: {}
    arduino: {}
    c: {}
    cfml: {}
    coffeescript: {}
    cpp: {}
    cs: {}
    css: {}
    d: {}
    ejs: {}
    erb: {}
    fortran: {}
    general:
      _analyticsUserId: "13235e5b-7594-4ca0-9c8d-e0971fe01a06"
      muteUnsupportedLanguageErrors: true
    gherkin: {}
    handlebars: {}
    html: {}
    jade: {}
    java: {}
    js:
      beautify_on_save: true
      end_with_newline: true
      indent_size: 2
      max_preserve_newlines: 2
      space_after_anon_function: true
    json:
      beautify_on_save: true
    jsx: {}
    latex: {}
    less: {}
    marko: {}
    mustache: {}
    objectivec: {}
    pawn: {}
    perl: {}
    php: {}
    puppet: {}
    python: {}
    riot: {}
    ruby: {}
    rust: {}
    sass: {}
    scss: {}
    spacebars: {}
    sql: {}
    svg: {}
    swig: {}
    tss: {}
    twig: {}
    typescript: {}
    vala: {}
    visualforce: {}
    xml: {}
    xtemplate: {}
  "autoclose-html": {}
  core:
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "image-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "icehunter-syntax"
    ]
  docblockr: {}
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.25
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "a0e0efc1-7907-4059-a208-1fe85f286fce"
  "git-history": {}
  "git-log": {}
  "git-plus":
    remoteInteractions:
      pullRebase: true
  linter: {}
  "linter-eslint": {}
  "one-dark-ui": {}
  pigments: {}
  react: {}
  script:
    stopOnRerun: true
  tabs: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
